@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: #555;
    font-family: 'Muli',sans-serif;
}

.checkbox{
    position: absolute;
    left:-1000px;

}

.label{
    font-size: 20px;
    position: relative;
    cursor: pointer;
}

.label:before{
    content: '';
    background-color: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    width: 20px;
    border-radius: 5px;
    height: 20px;
    position: absolute;
    left: -30px;

}

.label:after{
    content: '\2713';
    display: inline-block;
    border-radius: 5px;
    position: absolute;
    left: -25px;
    color: #2ecc71;
    transform: scale(0);

}

.checkbox:checked+.label:after{
    transform: scale(1);
}